#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    padding: 1rem;

    background-color: var(--bg);

    border: 1px solid var(--border);
}

#projects-container>div {
    box-sizing: border-box;
    flex: fit-content;
    overflow-x: hidden;
}

#projects-container h3 {
    user-select: none;
}

.project {
    border-radius: 1em;
    overflow: hidden;

    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.project:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 25px -5px var(--border);
}

.top {
    display: flex;
    height: 60%;
}

.top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom {
    height: 100%;
    padding: 1em;
    background-color: var(--bg-panel);
}

.bottom h3 {
    margin: 0;
}

.bottom span {
    color: var(--text-muted);
}