#tools-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    background-color: var(--bg);

    border: 1px solid var(--border);
}

#tools-container>div {
    box-sizing: border-box;
    flex: fit-content;
    overflow-x: hidden;
}

#tools-container h3 {
    user-select: none;
}

.tool {
    display: flex;
    gap: 1rem;

    background-color: var(--bg-panel);
    padding: 1rem;
    border-radius: 1rem;

    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.tool i {
    font-size: 2rem;
    color: var(--light);
}

.tool h3 {
    margin: 0;
}

.tool span {
    color: var(--text-muted);
}

.tool:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 25px -5px var(--border);
}