/* BUTTON */
#buttonContainer {
    display: flex;
    flex: 1;
    padding: 1em;
    gap: 0.6em;
}

#compareButton {
    padding: 0.4em;
    color: #9a9da9;
    background-color: #455561;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.2s;
}

#compareButton:hover {
    color: #3a435e;
    background-color: #858896;
}

/* ACTION BUTTON CONTAINER */
#actionButtonContainer {
    display: flex;
    gap: 0.3em;
    padding: 0.3em;
    background-color: #455561;
    border-radius: 0.2em;
}

#actionButtonContainer > i {
    color: #9a9da9;
    background-color: #2c363d;
    padding: 0.5em;
    border-radius: 0.7em;
    cursor: pointer;
    transition: 0.2s;
}

#actionButtonContainer > i:hover {
    color: #3a435e;
    background-color: #858896;
}