header {
    display: flex;
    z-index: 100;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    align-items: center;

    padding: 0.5rem 1rem;

    background-color: var(--main);

    user-select: none;
}

#headerIcons {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    gap: 1.2rem;
    padding-right: 1rem;
}

.headerIcon {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    color: white;
    text-decoration: none;
    padding: 0.2rem;
    border-radius: 0.3rem;
    transition: all 0.2s ease-in-out;
}

.headerIcon:hover {
    background-color: var(--dark);
}