header {
    display: flex;
    z-index: 100;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 0.5rem 1rem;

    background-color: var(--main);

    user-select: none;
}

#headerIcons {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.headerIcon {
    display: flex;
    align-items: baseline;
    gap: 0.3rem;
    color: white;
    text-decoration: none;
}