/* BASE LAYOUT */
body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    width: 100vw;

    margin: 0;

    font-family: 'Inter', system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.6;

    color: var(--text-body);

    background-color: var(--background-body);
}

article {
    padding: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    background-color: var(--background-container);

    border-radius: 8px;
    border: 1px solid var(--border-container);
}

article.full {
    flex: 1;
    margin-left: 2rem;
    margin-right: 2rem;
}

article:not(.full) {
    max-width: 95ch;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 130ch) {
    article:not(.full) {
        max-width: 120ch;
    }
}

::selection {
    background-color: var(--background-selection);
}

/* TEXT PARAGRAPH */
article>section>p,
article>p {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.75;
    color: var(--text-soft);
}

/* HEADINGS */
h2 {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--text-primary);
}

/* LINKS */
article a,
article p a,
article li a,
a.link {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px solid var(--link-color);
    transition: all var(--transition-delay) ease;
}

article a:hover,
article p a:hover,
article li a:hover {
    color: var(--accent);
    border-color: var(--accent);
}

/* LISTS */
ul,
ol {
    margin: 1rem 2rem;
    padding-left: 1rem;
}

li {
    font-size: 0.95rem;
    line-height: 1.6;
}

ol li::marker {
    color: var(--accent);
    font-weight: bold;
}

/* CODE INLINE */
code:not(pre code) {
    background-color: #2a2a2d;
    color: #fc78ad;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-size: 0.95em;
    border: 1px solid #3a3a3d;
    word-break: keep-all;
}

/* CODE BLOCK */
pre {
    border-radius: 0.5rem;
    border: 1px solid var(--border);
}