#outputContainer {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 0.5rem;
}

#outputContainer textarea {
    flex: 1;

    background-color: var(--bg);

    color: white;

    font-size: 1.2em;

    border: 2px solid var(--border);
    border-radius: 0.5rem;

    padding: 1em;

    resize: none;
    outline: none;
}

.output-group {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;

    margin-top: 1em;
}

.output-group label {
    position: absolute;
    left: 15px;
    padding: 0 5px;
    transform: translateY(-50%);
    font-size: 16px;
    user-select: none;
    border-radius: 5px;
    background-color: var(--border);
}