#contact-container {
    display: flex;
    justify-content: center;
    gap: 1rem;

    margin: 1rem;
    font-size: 2em;
}

#contact-container a {
    text-decoration: none;

    color: var(--light);
    transform: scale(1) translateY(0);

    transition: color 0.25s, transform 0.25s;
}

#contact-container a:hover {
    color: var(--accent);
    transform: scale(1.3);
}